.thumbnail
  img
    width: 100%
    height: auto
  .btn
    margin-top: 20px
  .caption
    h3
      font-size: 20px
  .comment
    font-size: 12px
    text-align: left
    color: #333333
    font-weight: bold
  .autor
    font-size: 12px
    text-align: left
    color: #02869e
    font-weight: bold
