#menu
  margin-bottom: 50px
.navbar
  border: 0px transparent
  background-color: #02869e

.navbar-default .navbar-brand
  margin: 0 auto
  background-color: #02869e
  color: #ffffff
  font-weight: bold
  text-align: center

.navbar-default .navbar-nav>li>a
  color: #ffffff

.navbar-default .navbar-brand:hover
  background-color: #02869e
  color: #ffffff
  font-weight: bold
  text-align: center
