#menu {
  margin-bottom: 70px;
}
.contenido {
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.contenido img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.contenido .button {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.contenido .button a,
.contenido .button .mas {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  background-color: #02869e;
  border-radius: 5px;
}
.contenido .button .ver {
  color: #333;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.contenido h3 {
  font-size: 20px;
}
.contenido .comment {
  font-size: 12px;
  text-align: left;
  color: #333;
  font-weight: bold;
}
.contenido .autor {
  font-size: 12px;
  text-align: left;
  color: #02869e;
  font-weight: bold;
}
.flex-container {
  column-count: 4;
  column-gap: 0;
  -moz-column-count: 4;
  -moz-column-gap: 0;
}
.flex-noticia {
  page-break-inside: avoid;
  padding: 10px;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
