.flex-container
  column-count: 4
  column-gap: 0
  // Firefox
  -moz-column-count: 4
  -moz-column-gap: 0

.flex-noticia
  page-break-inside: avoid

  padding: 10px
  flex-flow: column wrap
  justify-content: flex-start
  align-items: flex-start
