.flex-container
  display: flex
  flex-flow: column wrap
  height: 100vw
  width: 100%

.flex
  display: flex
  flex: 0 0 auto
  width: 23%
  margin: 1%

  flex-flow: column wrap
  justify-content: flex-start
  align-items: flex-start
